# /etc/systemd/system/zodium-machine-id.service
[Unit]
Description=Ensure systemd machine-id exists
ConditionPathExists=!/etc/machine-id
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-machine-id-setup

[Install]
WantedBy=multi-user.target
