---
# yaml-language-server: $schema=https://schema.blue-build.org/module-list-v1.json

modules:

 - type: kargs
   kargs:
      - loglevel=3
      - rd.udev.log_level=3
      - nowatchdog
      - mitigations=auto
      - split_lock_detect=off
      - split_lock_mitigate=0

 - type: files
   files:
     - source: zodium-settings
       destination: /

 - type: script
   scripts:
      - libexec-executable.sh
      - useradd-config.sh
      - fedora-tuned-remove.sh

## Disable Fedora Services
 - type: script
   snippets:
      - "systemctl disable systemd-remount-fs.service"
      - "systemctl mask systemd-remount-fs.service"
      - "systemctl disable bootc-fetch-apply-updates.timer"
      - "systemctl mask bootc-fetch-apply-updates.timer"
      - "systemctl disable flatpak-add-fedora-repos.service"
      - "systemctl mask flatpak-add-fedora-repos.service"

## Enable Zodium Services
 - type: script
   snippets:
      - "systemctl enable zodium-set-hostname.service"
      - "systemctl enable zodium-update.timer"
      - "systemctl enable zodium-add-flathub-repo.service"