---
# yaml-language-server: $schema=https://schema.blue-build.org/module-list-v1.json

modules:

 - type: kargs
   kargs:
      - loglevel=3
      - rd.udev.log_level=3
      - nowatchdog
      - mitigations=auto
      - split_lock_detect=off
      - split_lock_mitigate=0

 - type: files
   files:
     - source: zodium-settings
       destination: /

 - type: script
   scripts:
      - libexec-executable.sh
      - useradd-config.sh
      - fedora-tuned-remove.sh

 - type: script
   snippets:
      - "systemctl enable zodium-machine-id.service"
      - "systemctl enable zodium-set-hostname.service"
      - "systemctl enable zodium-flatpak-repo.service"
      - "systemctl enable zodium-gamemode.service"
      - "systemctl enable zodium-update.timer"