Description=Add flathub flatpak repo
ConditionPathExists=!/var/lib/flatpak/.zodium-flathub-add-repo-initialized
Before=flatpak-system-helper.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak remote-add --system --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo && /usr/bin/flatpak remote-modify --no-filter --enable flathub
ExecStartPost=/usr/bin/touch /var/lib/flatpak/.zodium-flathub-add-repo-initialized

[Install]
WantedBy=multi-user.target