# /usr/lib/systemd/system/zodium-groups.service
[Unit]
Description=Append human users to system groups
After=local-fs.target systemd-sysusers.service
Before=display-manager.service

[Service]
Type=simple
ExecStart=/usr/libexec/add_users_to_groups.sh
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target