# /etc/systemd/system/zodium-nvidia.service
[Unit]
Description=Zodium NVIDIA Persistence Mode
ConditionPathExists=/usr/bin/nvidia-smi

# Ensure NVIDIA daemon is up first
Wants=nvidia-persistenced.service
After=nvidia-persistenced.service systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-smi -pm 1

[Install]
WantedBy=multi-user.target
