[Unit]
Description=Add desktop users to gamemode group
After=multi-user.target
ConditionPathExists=/etc/passwd

[Service]
Type=oneshot
ExecStart=/usr/libexec/zodium-set-gamemode.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
