# /etc/systemd/system/zodium-set-hostname.service
[Unit]
Description=Set default hostname to zodium
Wants=systemd-hostnamed.service
After=systemd-hostnamed.service

[Service]
Type=oneshot

# Only run if static hostname is empty
ExecCondition=/bin/sh -c '[ -z "$(hostnamectl --static 2>/dev/null)" ]'

ExecStart=/usr/bin/hostnamectl set-hostname zodium

[Install]
WantedBy=multi-user.target
